body{
	font-size: 12px;
	line-height: 32px;
	font-family:'Arial';
	background:#777;
	width:960px;
	margin-left:200px;

}
header{
	background:#ebebeb;
	padding:20px;
	margin-bottom:10px;
	text-align:center;
	color: #777;
}
nav{
	background:#ebebeb;
	padding:20px;
	margin-bottom:16px;
	text-align:center;
	color: #777;

}

aside{
	width:300px;
	background:#ebebeb;
	float:right;
	padding:60px;
	height:200px;
	margin-bottom:30px;
	text-align:center;
	border-left:20px solid#777;
	color: #777;

}
section{
	text-align:center;
	margin-bottom:30px;
}
.Section{
	width:495px;
	height:200px;
	padding:60px;
	background:#ebebeb;
	color: #777;
	
}
#Article{
	text-align:center;
	margin-left: -20px;
	margin-right:5px;
	padding: 10px;
	height: 180px;
	width:90%;
	background: #777;
	border-right:80px solid #ebebeb;
	color:#ebebeb;
}
#headers{
	background:#ebebeb
	padding:20px;
	color: #777;
	height:75px;
	width:75px;
	margin:auto;

}
#Paragraphs{
	text-align:center;
	margin-left:-20px;
	margin-bottom:250px;
	padding:0px;
	height:75px;
	
}
footer{
	background:#ebebeb;
	padding:20px;
	text-align:center;
	color: #777;
	clear:both;

}