body{
	font-size: 12px;
	line-height: 32px;
	color: #777;
	font-family:'Arial';
	background:#777;
	width:960px;
	margin-left:200px;
	margin-top:5px;
	margin-bottom:140px;
	clear:both;

}
header{
	background:#ebebeb;
	padding:20px;
	margin-bottom:5px;
}
nav{
	background:#ebebeb;
	padding:20px;
	margin-bottom:5px;

}

aside{
	width:495px;
	background:#ebebeb;
	float:right;
	margin:300px,20px,20px,50px;
	padding:50px;
	height:200px;

}
section{
	width:495px;
	background:#ebebeb;
	margin-top:30px;
	margin:20px;
	
}
#article{
	background:#777;
	height:200px;
}
#headers{
	background:#ebebeb

}
#Paragraphs{
	background:#ebebeb;

}
footer{
	background:#ebebeb;
	padding:20px;
	clear:both;



}