body{
	font-size: 18px;
	line-height: 32px;
	font-family:'Arial';
	background:#777;
	width:960px;
	margin-left:200px;

}
header{
	background:#ebebeb;
	padding:20px;
	margin-bottom:10px;
	text-align:center;
	color: #777;
}
nav{
	background:#ebebeb;
	padding:20px;
	margin-bottom:16px;
	text-align:center;
	color: #777;

}

aside{
	width:300px;
	background:#ebebeb;
	float:right;
	padding:60px;
	height:200px;
	margin-bottom:30px;
	text-align:center;
	border-left:20px solid#777;
	color: #777;

}
section{
	text-align:center;
}
.Section{
	width:495px;
	height:200px;
	padding:60px;
	background:#ebebeb;
	color: #777;

	
}
#container{
	width:100%;
	height:350px;


}
#Article{
	margin-left: -30px;
	margin-right:5px;
	margin-top:1px;
	padding: 10px;
	height: 190px;
	width:90%;
	background: #777;
	border-right:50px solid #ebebeb;
	color:#ebebeb;

}
#Headers{
	height:.5px;
	width:85%;
	background:#ebebeb;
	border:10px solid #ebebeb;
	padding:25px;
	float:left;
	clear:left;
	color: #777;
	font-weight:bold;


}
#Paragraphs{
	height:.5px;
	width:85%;
	background:#ebebeb;
	border:10px solid #ebebeb;
	padding:25px;
	color:#777;
	float:left;
	color: #777;

	
}
footer{
	background:#ebebeb;
	padding:20px;
	text-align:center;
	color: #777;
	clear:both;

}